@charset "utf-8";
/* CSS Document*/
body{
    background-color:#E0ffff;
    margin:0px;
    padding:0px;
}
 
ul{
    list-style:none;
   

}
 
a{
    text-decoration:none;
}
 
section{
    width:100%;
    height:95vh;
    position: relative;
}
 
nav{
    display: flex;
    justify-content: space-between;
    align-items:center;
    height:60px;
    background-color:#ffffff;
    box-shadow:4px 4px 12px rgba(0,0,0,0.2);
    padding:2px 5%;
     
}
nav ul{
    display: flex;
}
  
nav ul li a{
    margin:30px;
    font-family:myriad pro regular;
    color:#00ffff;
    font-size: 15px;
    font-weight:700;
}
 
.logo{
    font-family:RoadTest;
    color:#00ced1;
    font-size: 30px;
    font-weight: bold;
}
 


 
.text-container p:nth-child(1){
    font-family: Monotype Corsiva;
    font-weight: bold;
    color: #6d6d6d;
    font-size: 40px;
}
 
.text-container p:nth-child(2){
    font-family: Monotype Corsiva;
    font-weight: bold;
    letter-spacing: 2px;
    color: #1a1a1a;
    font-size: 60px;
}
 
.text-container p:nth-child(3){
    font-family: Monotype Corsiva;
    color: #403e3e;
    font-size: 30px;
    line-height: 30px;
}
 
.text-container p:nth-child(4){
    font-family: Monotype Corsiva;
    color: #403e3e;
    font-size: 40px;
    margin-top: 5px;
    line-height: 30px;
    
}
 
.text-container p{
    line-height: 0px;
    margin: 55px 0px 25px;
}
 
.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%);
}
 

 
button:active{
    transform: scale(1.1);
}
 
.model{
    height: 560px;
    position: absolute;
    bottom: 60px;
    left: 80%;
    transform: translateX(-70%);
}
 
.services{
    height:600px;
    background-color:#f6f5f5;
    padding: 2% 10% 0px 10%;
}
 
